<%= render 'shared/navbar' %>
<div class="form">
<%= form_with model: @entity, url: group_entities_path do |f| %>
   <div class="field">
      <%= f.text_field :group_name, placeholder: :name, :value => @group.name_with_icon, :readonly => true, class: "field__input" %>
      <%= f.text_field :name, placeholder: "Name", class: "field__input" %>

      <%= f.number_field :amount, placeholder: "Amount", class: "field__input" %>
   </div>
   <%= f.submit "Add an expense", class: "field__btn" %>
<% end %>
</div>